@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* position: relative; */
    background-color: #ffffff;
}

body::after {
    /* content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
            circle at top,
            transparent 14%,
            #ea580c 15%,
            #ea580c 19%,
            transparent 20%
        ),
        radial-gradient(
            circle at bottom,
            transparent 14%,
            #ea580c 15%,
            #ea580c 19%,
            transparent 20%
        ),
        radial-gradient(
            circle at right,
            transparent 14%,
            #ea580c 15%,
            #ea580c 19%,
            transparent 20%
        ),
        radial-gradient(
            circle at left,
            transparent 14%,
            #ea580c 15%,
            #ea580c 19%,
            transparent 20%
        ),
        radial-gradient(circle at center, #ea580c 25%, transparent 26%),
        radial-gradient(circle at bottom left, #ea580c 12%, transparent 13%),
        radial-gradient(circle at bottom right, #ea580c 12%, transparent 13%),
        radial-gradient(circle at top left, #ea580c 12%, transparent 13%),
        radial-gradient(circle at top right, #ea580c 12%, transparent 13%);
    background-size: 5em 5em;
    opacity: 0.05;
    z-index: -1; */
}
